body {
  padding: 3rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  border: 2px solid teal;

  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, minmax(100px, auto)); */

  grid-template-columns: repeat(auto-fill, minmax(20%, auto));

  /* row-gap: 10px; */
  /* column-gap: 20px; */
  gap: 10px 20px;
}
